# Requires direnv and 1password cli.
# See https://direnv.net/
# See https://developer.1password.com/docs/cli/get-started/

# eval `op signin`
# direnv allow
# direnv reload
export AZURE_DSVM_USER="$(op read 'op://Internet2 CLASS - Azure/Internet2 Data Science VM Password/username')"
export AZURE_DSVM_PW="$(op read 'op://Internet2 CLASS - Azure/Internet2 Data Science VM Password/password')"